#bg-about {
    background-image: url("../../static/img/background/rainbow.png");
}

.profile-wrapper {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-areas: "profile-pic profile-content";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 2vw;
    place-items: center;
    /* fixes line breaks */
    white-space: pre-line;
}

#profile-pic {
    background-image: url("../../static/img/profile/profile.jpg");
    height: 100%;
    max-height:650px;
    width: auto;
    border-radius: 15px;
    grid-area: "profile-pic";
}

.profile-content {
    grid-area: "profile-content";
}

.profile-text {
    font-size: 1.2rem;
}

@media screen and (max-width: 1100px) {
    .profile-text {
        font-size: 1rem; 
        padding-left: 5px;
    }

    #profile-pic {
        height:500px;
    }

}

@media screen and (max-width: 800px) {
    #profile-pic {
        height: 30vh;
        width: auto;
    }

    .profile-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
            "profile-content"
            "profile-pic";
    }

    .profile-text {
        font-size: 17px;
    }
}
