.bg-image {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('../../static/img/background/LANDING\ PAGE\ BG.png')
}

#dev-for-hire {
    position:absolute;
    content: url('../../static/img/logo/WEB\ DEV\ FOR\ HIRE\ MAIN.png');
    width: calc(max(700px,55vw));
    height: auto;
    left:10vw;
    top:25vh;
}

@media screen and (max-width: 1300px) {
    #dev-for-hire {
        left: calc(max(550px,45vw));
        width: 45vw;

    }
}
