#bg-home {
    background-image: url('../../static/img/background/LANDING\ PAGE\ BG.png')
}

#logo-main {
    position:absolute;
    content: url('../../static/img/logo/logo_main_with_sub.png');
    width: auto;
    height: 50vh;
    left:10vw;
    top: 28vh;
}
#logo-contact {
    position:absolute;
    content: url('../../static/img/logo/logo_contact.png');
    width: auto;
    height: 8.1vh;
    left:10.5vw;
    top: 79vh;
}

.logo-hover:hover {
        -webkit-filter: drop-shadow(4px 4px 4px var(--light-blue));
        filter: drop-shadow(4px 4px 4px var(--light-blue));
}


@media screen and (max-width: 1000px) {
    #logo-main {
        left:2.8vw;
    }    
    #logo-contact {
        left:3.5vw;
    }
}
