.slide {
    height: 100%;
}

.carousel-root,
.carousel,
.slider-wrapper,
.slide,
.slider,
.card-wrapper {
    height: 100% !important;
    max-width: 100% !important;
}

.carousel-img {
    margin-left: 1rem;
}

.caption {
    grid-area: "caption";
}

.card-content h1 {
    margin-bottom: 1.5rem;
}

.carousel-status {
    left:90%;
}

a {
    text-decoration: none;
    color: rgba(230, 230, 230, 0.7);
    margin-top: 0.5rem;
}
a:hover {
    color: rgb(0, 115, 255);
}

