@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

*,
*::before,
*::after {
  font-family: "Space Grotesk", sans-serif;
  box-sizing:border-box;
  margin:0;
  padding:0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
