@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

/* colour variables */
:root {
    --light-blue: rgb(0, 174, 255);
    --dark-glass: rgba(0, 0, 0, 0.75);
}

*,
*::before,
*::after {
    font-family: "Space Grotesk", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg-image {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    padding: 1rem;
    border-radius: 15px;
    width: 78vw;
    height: 80vh;
    background-color: var(--dark-glass);
    color: #ede;
}

.card-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    grid-template-areas: "card-img card-content";
    /* fixes line breaks */
    white-space: pre-line;
}

.card-wrapper .card-img {
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    grid-area: "card-img";
    width: 100%;
    height: 100%;
}

.card-wrapper .card-img img {
    position:absolute;
    border-radius: 15px !important;
    max-width:90% !important;
    max-height:90% !important;
    height: auto;
    width: 100%;
    object-fit: contain;
}

.card-wrapper .card-content {
    display: flex;
    flex-direction: column;
    max-height: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    grid-area: "card-content";
    margin: 0 2rem 0 0.5rem;
}

@media (max-width: 720px) {
    .bm-burger-button  {
        right:10px !important;
        top:10px !important;
    }

    .card-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "card-img" 
        "card-content";
    }

    .carousel-img {
        margin: 0;
    }

    .container {
        width:100%
    }

    .carousel-status{
        width:100%;
        top:-5px;
    }

    .control-dots{
        top:-16px;
        max-height:20px;
    }

    .card-content{
        margin-right:0px !important;
        margin-left:0px !important;
    }

    .caption-header {
        position:absolute;
        top:47%;
    }

    .carousel-img{
        margin-left:0px !important;
    }
}
