@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

/* colour variables */
:root {
    --light-blue: rgb(0, 174, 255);
    --dark-glass: rgba(0, 0, 0, 0.75);
}

*,
*::before,
*::after {
    font-family: "Space Grotesk", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.bg-image {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

.container {
    padding:1rem;
    border-radius: 15px;
    width: 78%;
    height: 80%;
    background-color: var(--dark-glass);
    color: #ede;
}

.card-wrapper {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
    grid-template-areas: "card-img card-content";
    white-space: pre-line;
}

.card-content {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    justify-content: center !important;
    align-items: center !important;
    grid-area: "card-content";
    margin: 0 2rem 0 0.5rem;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: "card-img";
}

.card-img img {
    border-radius:15px;
    width: 100% !important;
    height: auto !important;
    max-width: 90% !important;
    max-height: 90% !important;
}
