#bg-portfolio {
    background-image: url('../../static/img/background/plaster-wall.jpg')
}

.carousel-wrapper{
    height:100%;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    overflow:visible;
    /* max-height: 486px; 
    min-height: 150px;  */
}

.portfolio-wrapper{
    display:flex;
    align-items: center;
    height:100%;
    width:auto;
}

.blurb {
    margin:2rem;
    max-width:45%;
    color:red;
}
